# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=dji-multimodal-rag-assets

# LangSmith Configuration
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=dji-rag-system

# OpenAI / LLM Configuration
OPENAI_API_KEY=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
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=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
OPENAI_MODEL=gpt-4

# Qdrant Configuration
QDRANT_API_KEY=

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/dji_rag?retryWrites=true&w=majority

# Service URLs (internal docker network)
AGENT_A_URL=http://agent-system-a:8000
AGENT_B_URL=http://agent-system-b:8001
MCP_SERVER_URL=http://mcp-server:8002
WHISPER_URL=http://whisper-stt-service:9000
QDRANT_URL=http://vector-db:6333
